/*RESET*/
* {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Gabriela&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");
}

body {
  background-color: rgba(204, 176, 150, 0.959);
}

main .information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Briem Hand", cursive;
}
main .information section h2 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
main .information section img {
  border-radius: 10px 10px 0 0;
}
main .information section p {
  text-align: justify;
  background-color: beige;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
main .information section ul {
  padding: 55px 0;
  background-color: beige;
  list-style: none;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 16px;
  font-family: "Briem Hand", cursive;
  margin-bottom: 30px;
}
main .dire-att {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .dire-att .dire-att-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
main .dire-att .dire-att-text .direccion {
  margin-bottom: 20px;
  font-family: "Briem Hand", cursive;
}
main .dire-att .dire-att-text .direccion h3 {
  font-weight: bolder;
  text-decoration: underline;
  font-family: "Briem Hand", cursive;
  font-size: 30px;
  margin-bottom: 20px;
}
main .dire-att .dire-att-text .direccion p {
  color: black;
}

@keyframes crecimiento {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
main .contacto-titulo {
  display: flex;
  justify-content: center;
  font-family: "Briem Hand", cursive;
  font-size: 40px;
  margin: 30px 0 60px 0;
}
main .complete {
  display: flex;
  justify-content: center;
  gap: 50px;
}
main .complete .contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  transform: translateY(-80px);
}
main .complete .contact form label {
  font-family: "Briem Hand", cursive;
  font-size: 18px;
  margin-top: 20px;
}
main .complete .comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Briem Hand", cursive;
  transform: translateY(-20px);
}
main .complete .comentarios textarea {
  width: 150px;
  height: 150px;
}
main .complete .comentarios input {
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 50px;
  margin-bottom: 30px;
}
main div .reserva-titulo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Briem Hand", cursive;
}
main div .Reserva-canal {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Briem Hand", cursive;
  text-decoration: underline;
}
main div .Reserva-canal .reserva-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main div .Reserva-canal .reserva-item a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
main div .Reserva-canal .reserva-item a img {
  width: 100%;
}
main div .Reserva-canal .reserva-item a img:hover {
  animation-name: crecimiento;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
main div .Reserva-canal .reserva-item p {
  color: black;
  font-size: 20px;
}

main .evento-tit {
  display: flex;
  justify-content: center;
  font-family: "Briem Hand", cursive;
  font-size: 40PX;
  text-decoration: underline;
  color: rgb(236, 57, 117);
  margin: 30px 0;
}
main .evento-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
main .evento-container iframe {
  border: dotted white;
  padding: 10px;
  background: palevioletred;
  border-radius: 10px;
  width: 50%;
}
main .evento-container img {
  border-radius: 10px;
  border: dotted white;
  padding: 10px;
  background-color: palevioletred;
}
main .evento-container div h3 {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Briem Hand";
  margin-bottom: 30px;
  color: rgb(240, 29, 99);
  font-weight: 700;
}
main .evento-container div p {
  font-size: 16px;
  margin-top: 0;
  font-family: "Briem Hand";
  margin-bottom: 60px;
  font-weight: 500;
  color: brown;
  align-items: center;
}

@keyframes oferta {
  0% {
    color: white;
    font-weight: bolder;
  }
  25% {
    color: rgb(219, 123, 123);
  }
  50% {
    color: white;
    font-weight: bolder;
  }
  75% {
    color: rgba(204, 176, 150, 0.959);
  }
  100% {
    color: white;
    font-weight: bolder;
  }
}
main .aviso {
  display: flex;
  justify-content: center;
  background-color: rgb(206, 37, 93);
  padding: 20px;
  text-align: center;
}
main .aviso p {
  color: white;
  font-family: "Briem Hand", cursive;
  font-size: 20px;
  animation-name: oferta;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
main section .card img {
  width: 100%;
  height: 250px;
}
main section .card div h3 {
  font-size: 15px;
  color: rgb(231, 27, 231);
}
main section .card div p {
  color: rgb(233, 86, 135);
  font-weight: bolder;
}
@keyframes bolder {
  0% {
    font-weight: 700;
    color: palevioletred;
  }
  25% {
    font-weight: 400;
    color: palevioletred;
  }
  50% {
    font-weight: 700;
    color: palevioletred;
  }
  75% {
    font-weight: 400;
    color: palevioletred;
  }
  100% {
    font-weight: 700;
    color: palevioletred;
  }
}
main .carta-titulo {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  font-family: "Cedarville Cursive", cursive;
  margin-bottom: 40px;
}
main .ingreso-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
main .ingreso-menu section {
  flex-direction: column;
}
main .ingreso-menu section a {
  text-align: center;
  font-size: 35px;
  font-family: "Cedarville Cursive", cursive;
  text-decoration: none;
  animation-name: bolder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
main .ingreso-menu section a img {
  border-radius: 50px;
  width: 150px;
  height: 150px;
}
main .ingreso-menu section a img:hover {
  border: 3px solid palevioletred;
}
main section .titulos-menues {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Cedarville Cursive", cursive;
  text-decoration: underline;
}
main .menus-1 {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;
}
main .menus-1 section {
  display: flex;
  flex-direction: column;
}
main .menus-1 section p {
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-family: "Cedarville Cursive", cursive;
  font-weight: bolder;
  color: black;
}
main .menus-1 section ul {
  font-family: "Briem Hand", cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}
main .menus-1 section img {
  border-radius: 10px;
  width: 350px;
}
main section .carta-completa h4 {
  margin-bottom: 10px;
  font-family: "Cedarville Cursive", cursive;
  font-size: 18px;
  font-weight: bold;
}
main section .carta-completa p {
  font-size: 16px;
  font-family: "Briem Hand", cursive;
  color: black;
}
main .oso {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .oso img {
  border-radius: 5px;
  width: 50%;
}

@media only screen and (max-width: 650px) {
  header {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  header h1 {
    display: none;
  }
  header nav div ul {
    list-style: none;
  }
  header nav div ul a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Briem Hand", cursive;
  }
  header nav div ul a:hover {
    color: rgb(226, 51, 109);
  }
  header .link-enlaces {
    display: none;
  }
  footer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  footer div h2 {
    margin-top: 20px;
  }
  footer .redes {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .copyr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .copyr img {
    width: 50%;
    height: 100px;
  }
  main .img-container img {
    width: 100%;
    object-fit: cover;
  }
  main .information {
    flex-direction: column;
  }
  main .information section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  main .information section h2 {
    margin: 20px 0;
  }
  main .information section p {
    width: 75%;
    transform: translateY(-20px);
  }
  main .information section img {
    width: 75%;
  }
  main .information .section-3 ul {
    width: 75%;
    padding: 30px 5px;
    transform: translateY(-20px);
  }
  main .dire-att {
    flex-wrap: wrap;
  }
  main .info-Map {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  main .info-Map .map {
    width: 100%;
  }
  main .complete {
    flex-wrap: wrap;
  }
  main .Reserva-canal {
    flex-wrap: wrap;
  }
  main .evento-container iframe {
    width: 100%;
  }
  main .evento-container img {
    width: 100%;
  }
  main .carousel-inner img {
    height: 250px;
  }
  main .menus-1 {
    display: flex;
    flex-direction: column;
  }
  main .menus-1 section {
    display: flex;
    flex-direction: column;
  }
  main .carta-completa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main .carta-completa h4 {
    margin-bottom: 10px;
    font-family: "Briem Hand", cursive;
    font-size: 20px;
    font-weight: 500;
  }
  main .carta-completa p {
    font-family: "Briem Hand", cursive;
  }
}
@media only screen and (min-width: 650px) {
  header {
    justify-content: space-around;
    gap: 30px;
  }
  header .link-enlaces {
    display: flex;
    gap: 30px;
  }
  header .link-enlaces a:hover {
    margin-top: 10px;
  }
  header .collapse {
    display: none;
  }
  header .navbar {
    display: none;
  }
  footer {
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 0;
  }
  footer .pay-icons img {
    width: 50px;
    height: 50px;
  }
  footer .copyr {
    text-align: center;
  }
  footer .copyr img {
    width: 100px;
  }
  main .img-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  main .information {
    margin-top: 60px;
    justify-content: space-around;
    align-content: center;
    align-content: center;
  }
  main .information section {
    flex-direction: column;
  }
  main .information section h2 {
    width: 400px;
  }
  main .information section img {
    width: 450px;
    height: 350px;
  }
  main .information section p {
    width: 450px;
    transform: translateY(-20px);
  }
  main .information .section-3 {
    transform: translateY(5px);
  }
  main .information .section-3 ul {
    transform: translateY(-20px);
  }
  main .dire-att {
    margin-top: 60px;
    gap: 70px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  main .dire-att div iframe {
    width: 500px;
    height: 400px;
  }
  main .reserva-item p {
    margin-top: 20px;
  }
  .evento-container iframe {
    width: 400px;
    height: 300px;
  }
  .evento-container img {
    width: 50%;
    height: 500px;
  }
  .evento-container div p {
    width: 600px;
  }
  main .carousel-inner h2 {
    padding: 15px 10px;
    margin: 0 50px 40px;
  }
  main .carousel-inner img {
    height: 350px;
    padding: 20px 50px;
    margin-top: 30px;
    border-radius: 5px;
  }
  main .ingreso-menu {
    gap: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: center;
  }
  main .menus-1 {
    gap: 120px;
  }
  main .carta-completa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    padding: 0 80px;
    font-size: 15px;
    font-family: "Briem Hand", cursive;
  }
  main .oso img {
    width: 30%;
  }
}
@keyframes color {
  0% {
    background: linear-gradient(rgb(247, 229, 235), rgba(240, 19, 126, 0.925));
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: linear-gradient(red, rgba(240, 19, 126, 0.925));
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(rgba(240, 19, 126, 0.925), rgb(247, 229, 235));
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes crecimiento {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
header {
  display: flex;
  align-items: center;
  background-color: rgb(219, 123, 123);
  padding: 20px;
}
header div a img {
  width: 100px;
  height: 100px;
}
header div a img:hover {
  animation-name: crecimiento;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
header h1 {
  font-size: 20px;
  font-style: italic;
  color: rgba(231, 14, 61, 0.842);
  font-family: "Briem Hand", cursive;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
header .link-enlaces a {
  text-decoration: none;
  color: white;
  transition: 1s;
  font-size: 25px;
  font-family: "Briem Hand", cursive;
}
header .link-enlaces a:hover {
  color: rgb(226, 51, 109);
  margin-top: 20px;
}

footer {
  background-color: rgb(212, 150, 74);
  display: flex;
  font-family: "Briem Hand", cursive;
}
footer .redes {
  text-align: center;
}
footer .redes h2 {
  text-align: center;
  text-decoration: wavy;
  color: black;
  font-size: 30px;
}
footer .redes a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Briem Hand", cursive;
  text-decoration: none;
}
footer .redes a:hover {
  color: rgb(233, 86, 135);
}
footer .redes-2 h3 {
  text-align: center;
  text-decoration: wavy;
  font-size: 30px;
}
footer .copyr img {
  width: 100px;
  height: 100px;
}
footer .copyr p {
  font-size: 10px;
}

.mangas-otros, main section {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.carta, main section .card {
  width: 12rem;
}

.carousel-inner h2 {
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 15px 10px;
  margin: 0 50px 40px;
  font-family: "Jacquard 12", system-ui;
  font-size: 40px;
  color: brown;
}

.carousel-inner img {
  width: 100%;
  height: 350px;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 5px;
}

.boton, main .complete .comentarios input, main section .card div a {
  border-radius: 10px;
  background-color: rgb(216, 153, 174);
  border: solid 2px brown;
  color: brown;
}
.boton:hover, main .complete .comentarios input:hover, main section .card div a:hover {
  background-color: rgb(233, 86, 135);
  color: white;
}

/*# sourceMappingURL=style.css.map */
