@keyframes bolder {
    0%{
        font-weight: 700;
        color: palevioletred;
    }
    25%{
       font-weight: 400; 
       color: palevioletred;
    }
    50%{
        font-weight: 700;
        color: palevioletred;
    }
    75%{
        font-weight: 400;
        color: palevioletred;
    }
    100% {
       font-weight: 700;
       color: palevioletred;
    }
}
main{
    .carta-titulo {
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
        font-family: "Cedarville Cursive", cursive;
        margin-bottom: 40px;
    }
    .ingreso-menu{
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        section{
            flex-direction: column;
            
            a{
                text-align: center;
                font-size: 35px;
                font-family: "Cedarville Cursive", cursive;
                text-decoration: none;

                animation-name: bolder;
                animation-duration: 5s;
                animation-iteration-count: infinite;

                img{
                    border-radius: 50px;
                    width: 150px;
                    height: 150px;
                    &:hover{
                        border:  3px solid palevioletred;
                    }
                }
            
            
            }
        }
           
    }
    section{
        .titulos-menues{
            text-align: center;
            font-size: 40px;
            margin-bottom: 50px;
            margin-top: 50px;
            font-family: "Cedarville Cursive", cursive;
            text-decoration: underline;
        }
    }
    .menus-1{
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        flex-wrap: wrap;
        section{
            display: flex;
            flex-direction: column;
             p{
                justify-content: center;
                text-align: center;
                font-size: 25px;
                font-family: "Cedarville Cursive", cursive;
                font-weight: bolder;
                 color: black;
                
            }
            ul{
                font-family: "Briem Hand", cursive;
                display: flex;
                flex-direction: column;
                text-align: center;
                list-style: none;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-top: 10px;
            }
            img{
                 border-radius: 10px;
                width: 350px;
            }
        }
             
    }
    
    section{
        .carta-completa{
       
            h4{
                margin-bottom: 10px;
                font-family:"Briem Hand", cursive;
                font-size: 18px;
                font-weight: bold;
            }
            p{
                font-size: 16px;
                font-family:"Briem Hand", cursive ;
                color: black;
            }

        }  
    }
 
    
    .oso {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px ;
        img{
            border-radius: 5px;
           width: 50%;
        }
    
    
    }
}