//MIXIN
@mixin letras ($font-size,$margin-top,$font-family){
    font-size: $font-size;
    margin-top: $margin-top;
    font-family: $font-family;
}
main {
    .evento-tit{
        display: flex;
        justify-content: center;
        font-family: "Briem Hand", cursive;
        font-size: 40PX;
        text-decoration: underline;
        color: rgb(236, 57, 117);
        margin: 30px 0;
    }
    .evento-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        iframe{
            border: dotted white;
            padding: 10px;
            background: palevioletred;
            border-radius: 10px;
            width: 50%;
        }    
        img{
            border-radius: 10px;
            border: dotted white;
            padding: 10px;
            background-color: palevioletred;
            
        }
        div{
            h3{
                @include letras(30px,20px,"Briem Hand");
                margin-bottom: 30px;
                color: rgb(240, 29, 99);
                font-weight: 700;
            } 
       
            p{
                @include letras(16px, 0, "Briem Hand");
                margin-bottom: 60px;
                font-weight: 500;
                color: brown;
                align-items: center;
            
            }  
        }
        
        
    
    }
}