$color-nekopunch:rgb(233, 86, 135);
//EXTENDS

main{
    .aviso{
        display: flex;
        justify-content: center;
        background-color: rgb(206, 37, 93);
        padding: 20px;
        p{
            color: white;
            font-family: "Briem Hand", cursive;
            font-size: 20px;
        }
    }
    section{
        @extend .mangas-otros;
        .card{
            @extend .carta;
            img{
                width: 100%;
                height: 250px;
            } 
            div{
                h3{
                    font-size: 15px;
                    color: rgb(231, 27, 231);
                }
                p{
                    color: $color-nekopunch;
                    font-weight: bolder;
                }
                a{
                    @extend .boton; 
                }
            }
        }
    }
}
