//variable
$color-nekopunch:rgb(233, 86, 135);
$color-footer: rgb(212, 150, 74);

footer{
    background-color:$color-footer;
    display: flex;
    font-family: "Briem Hand", cursive;
    .redes {
        text-align: center;
        h2{
            text-align: center;
            text-decoration: wavy;
            color: black;
            font-size: 30px;
        }
        a{ 
            color: rgb(0, 0, 0);
            font-weight: 700;
            font-family: "Briem Hand", cursive;
            text-decoration: none;
            &:hover{
                color: $color-nekopunch;
            }
            
        }
    }
    .redes-2{
        h3{
            text-align: center;
            text-decoration: wavy;
            font-size: 30px;
        }
    }
    .copyr{
        img {
            width: 100px;
            height: 100px;
        } 
        p{
            font-size: 10px;
        }        
    }
}  