//ANIMACIONES
@keyframes color {
    0%{
        background: linear-gradient(rgb(234, 124, 162),rgba(240, 19, 126, 0.925));
        -webkit-background-clip: text;
        color: transparent;
    }
    25%{
        background: linear-gradient(rgb(236, 111, 111),rgba(240, 19, 126, 0.925));
        -webkit-background-clip: text;
        color: transparent;
    }
    50%{
        background: linear-gradient(red,rgba(240, 19, 126, 0.925));
        -webkit-background-clip: text;
        color: transparent;
    }
    100% {
        background: linear-gradient(rgba(240, 19, 126, 0.925),rgb(240, 180, 180));
        -webkit-background-clip: text;
        color: transparent;
    }

}
@keyframes crecimiento {
    0%{
        transform: scale(1);
    }
   
    50%{
        transform: scale(1.1);
    }
   
    100% {
        transform: scale(1);
    }
}
header{
        display: flex;
        align-items: center;
        background-color: rgb(219, 123, 123);
        padding: 20px;
        div{
            a{
                img {
                    width: 100px;
                    height: 100px;
                    &:hover {
                        animation-name: crecimiento;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                    }
                    
                } 
            }
               
        }
            h1{
                font-size: 20px;
                font-style: italic;
                color: rgba(231, 14, 61, 0.842);
                font-family: "Briem Hand", cursive;
                
                animation-name: color;
                animation-duration: 5s;
                animation-iteration-count: infinite;

            }
            
           
            .link-enlaces{
                a{
                    text-decoration: none;
                    color: white;
                    transition: 1s;
                    font-size: 25px;
                    font-family: "Briem Hand", cursive;
                    &:hover{
                        color: rgb(226, 51, 109);
                        margin-top: 20px;

                    }
                }
            }

    }
       