.mangas-otros{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

    .carta{
        width: 12rem;
    }

   
    