
@media only screen and (max-width: 650px){
//HEADER
    header{
        justify-content: space-between;
        flex-wrap: wrap;
        h1{
            display: none;
        }
       
          nav {
            div{
                ul {
                   
                    list-style: none;
                    text-align: left;
                    li {
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 25px;
                            font-family: "Briem Hand", cursive;
                            &:hover{
                                color: rgb(226, 51, 109);
                            }
                        }  
                    }
                } 
            }
            
        }  
        
        
    
        .link-enlaces{
            display: none;
        }
    }

    
//FOOTER

footer{  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    div {
        h2{
            margin-top: 20px;
        }

    }
    .redes{
        text-align: center;
        margin-bottom: 30px;
    }
   .copyr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 50%;
            height: 100px;
        }
    }
}

//INDEX
main{
    .img-container{
        img{
            width: 100%;
            object-fit: cover;
            
        }
    }
    .information{
        flex-direction: column;
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-content: center;
            h2{
                margin: 20px 0;
            }
            p{
                width: 75%;
                transform: translateY(-20px);
            }
            img{
                width: 75%;
            }
            
        }
        .section-3{
            ul{
                width: 75%;
                padding: 30px 5px;
                transform: translateY(-20px);
            }
        }

    }

    .dire-att{
        flex-wrap: wrap;
    }
    .info-Map{
        display: flex;
        justify-content: center;
        margin-bottom: 30px; 
        .map{
            width: 100%;
        }
    }
}


//Contacto 
main{
    .complete{
       flex-wrap: wrap 
    }
    .Reserva-canal{

      flex-wrap: wrap;
    }
}
//EVENTOS

main{
    .evento-container {
        iframe{
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
}


 //TIENDA

 
 main{
        .carousel-inner {
            img{
                height: 250px;
            }
        }
       
    }
//Carta

main{
        .menus-1 {
            display: flex;
            flex-direction: column;
            section{
                display: flex;
                flex-direction: column; 
            }
           
        }
        .carta-completa{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h4{
                
                margin-bottom: 10px;
                font-family:"Briem Hand", cursive ;
                font-size: 20px;
                font-weight: 500;
            }
            p{
                font-family:"Briem Hand", cursive ;
            }
        } 

    }

}


